body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

.index-h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar-link {

    height: 100vh;
    padding: 20px;
}



.sidebar-head {
    background-color: black;
    text-align: center;
    color: white;
    
    
}
