{% extends "encyclopedia/layout.html" %}
  
{% block title %}
    {% if not content %}
        ERROR
    {% else %}
        {{ link }}
    {% endif %}
{% endblock %}

{% block nav %}
    <a href="{% url 'editEntry' title %}" style="font-family: 'Roboto Mono', monospace;">Edit Current Entry</a>
{% endblock %}

{% block body %}
    <a style="font-family: 'Roboto Mono', monospace;">{{ content|safe }}</a>
{% endblock %}