{% extends "encyclopedia/layout.html" %}

{% block title %}
    404 - Page Not Found
{% endblock %}

{% block body %}
<h2>Oops! This entry does not exist.</h2>
    <br>
    <p> Click <a href="{% url 'newEntry' %}">here</a> to add this entry.</p>

{% endblock %}