{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if search %}
        <h2>Searching for {{ searchQ }}</h2>
    {% else %}
        <h1 class="index-h1" style="font-family: 'Roboto Mono', monospace;">All Pages</h1>
    {% endif %}
        <ul>
            {% for entry in entries %}
                <li>
                    <a href="/wiki/{{entry}}" style="font-family: 'Roboto Mono', monospace;">{{ entry }}</a>
                </li>
            {% endfor %}
        </ul>
{% endblock %}