{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <div class="sidebar-head" style="font-family: 'Roboto Mono', monospace;">
                    <h2>wiki</h2>
                </div>
                <form action="{% url 'search' %}">
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia" style="font-family: 'Roboto Mono', monospace;">
                </form>
                <div class="sidebar-urls" style="font-family: 'Roboto Mono', monospace;">
                    <a href="{% url 'index' %}">Home</a>
                    <br/>
                
                    <a href="{% url 'newEntry' %}">Create New Page</a>
                    <br/>
                
                    <a href="{% url 'randomEntry' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>