{% extends "encyclopedia/layout.html" %} 
{% block title %}
  Create New Entry 
{% endblock %} 

{% block body %}
    {% if message %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}

    <h1 style="font-family: 'Roboto Mono', monospace;">Add New Encyclopedia Entry</h1>
    <hr>
    <form action="{% url 'newEntry' %}" method="post" autocomplete="off" required>
        {% csrf_token %}
        <span style="font-family: 'Roboto Mono', monospace; font-size: 1em; font-weight: bolder;">Title:</span>
        <br>
        <input name="title" class="title" required>
          {% if title %}{{ title }}{% endif %}</input>
        <br><br>
        <span style="font-family: 'Roboto Mono', monospace; font-size: 1em; font-weight: bolder;">Content:</span>
        <br>
        <textarea name="content" class="content" style="font-family: 'Roboto Mono', monospace; width: 80%; height: 50vh;" placeholder=" Please enter #Title (2 spaces) followed by new paragraph with entry description." required>{% if content %}{{ content }}{% endif %}</textarea>
        <br>
        <button style="font-family: 'Roboto Mono', monospace;" type="submit" class="btn btn-secondary">Submit</button>
    </form>
{% endblock %}
