{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h1>Search results:</h1>
    <ul>
        {% for title in result %}
            <li><a href="/wiki/{{ title }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}